
<div class="pt-12 pb-[300px] md:pt-22 md:pt-18 bg-deep-sea text-white bg-footer">
    <div class="container md:flex">
        <div class="md:w-1/2">
            <div class="text-center md:text-left">
                <h3 class="text-3xl md:text-4xl font-bold mb-5">
                    In wenigen Schritten zu Ihrer Anfrage
                </h3>
                <p class="mb-10">
                    Um Ihnen vor der ersten Besichtigung Ihres Bootes ein
                    unverbindliches Angebot zu machen, benötigen wir folgende
                    Informationen von Ihnen.
                </p>
                <a href="{{ path('app_inquiry') }}"
                   class="inline-block rounded-full text-white text-lg leading-tight bg-goldenrod font-bold py-4 px-10">
                    Zum Formular
                </a>
            </div>
        </div>
    </div>
</div>