{% extends '@!EasyAdmin/layout.html.twig' %}

{% block header_logo %}
<a class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
    {% include '_partials/logos/blue-horizontal.html.twig' %}
</a>
{% endblock header_logo %}