@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/lato/300-italic";
@import "@fontsource/lato/400";
@import "@fontsource/lato/700";
@import "@fontsource/lato/900";

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply text-xxs -translate-y-4;
}


:root {
  --swiper-pagination-color: #A36836;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 14px;
}

.swiper-pagination-bullet {
  @apply bg-transparent border border-goldenrod rounded transition-all;

  &.swiper-pagination-bullet-active {
    @apply bg-goldenrod transform scale-125
  }
}


.swiper-button-next:after, .swiper-button-prev:after {
  @apply font-sans;
  content: '' !important;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  @apply opacity-40
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 50% !important;

  @screen lg {
    transform: translateX(-(1024px / 2) + 30px);
  }
  @screen xl {
    transform: translateX(-(1280px / 2) );
  }
  @screen 2xl {
    transform: translateX(-(1280px / 2));
  }
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 50% !important;

  @screen lg {
    transform: translateX((1024px / 2) - 30px);
  }
  @screen xl {
    transform: translateX((1280px / 2) );
  }
  @screen 2xl {
    transform: translateX((1280px / 2));
  }
}