<!DOCTYPE html>
<html class="h-full" x-data="{ offCanvas: false }">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Oleu Persenninge</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    {% if block('body_style') is defined and block('body_style') == 'dark' %}
        {% set body_style = 'dark' %}
    {% else %}
        {% set body_style = 'light' %}
    {% endif %}
    <body :class="offCanvas ? 'overflow-hidden' : ''" class="h-full {% if body_style == 'dark' %}bg-deep-sea text-white{% else %}bg-sand text-deep-sea{% endif %} text-base antialiased">

        {% set menu = {
            'Über uns': 'ueber-uns',
            'Unsere Projekte': 'unsere-projekte',
            'Details': 'details',
            'Weiteres': 'weiteres',
        } %}

        {% include '_partials/off-canvas.html.twig' with { body_style: body_style } %}
        {% include '_partials/header.html.twig' with { body_style: body_style } %}
        {% block body %}{% endblock %}
        {% include '_partials/footer.html.twig' %}
    </body>
</html>
